#pagina{
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
}
#pagina header img{
    width: 100%;
    border-radius: 2px;
    opacity: 0.8;
    -webkit-box-shadow: 2px 3px 5px silver;
    -moz-box-shadow: 2px 3px 5px silver;
    box-shadow: 2px 3px 5px silver;
}
nav ul {
    margin-top: 15px;
    list-style: none;
    /*display: inline;*/
    font:italic bold 12px/30px Georgia, serif;
    text-align: center;
}
nav ul li {
     display: inline;
     padding: 10px;
     margin: 20px;
}
.btn {
    background: #2c4e57;
    background-image: -webkit-linear-gradient(top, #2c4e57, #04bfbf);
    background-image: -moz-linear-gradient(top, #2c4e57, #04bfbf);
    background-image: -ms-linear-gradient(top, #2c4e57, #04bfbf);
    background-image: -o-linear-gradient(top, #2c4e57, #04bfbf);
    background-image: linear-gradient(to bottom, #2c4e57, #04bfbf);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #615f61;
    -moz-box-shadow: 0px 1px 3px #615f61;
    box-shadow: 0px 1px 3px #615f61;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;;
    text-decoration: none;
}
.btn:hover {
    background: #04bfbf;
    background-image: -webkit-linear-gradient(top, #04bfbf, #2c4e57);
    background-image: -moz-linear-gradient(top, #04bfbf, #2c4e57);
    background-image: -ms-linear-gradient(top, #04bfbf, #2c4e57);
    background-image: -o-linear-gradient(top, #04bfbf, #2c4e57);
    background-image: linear-gradient(to bottom, #04bfbf, #2c4e57);
    text-decoration: none;
}
body {
    background: linear-gradient(to right top, #06161a, #17333a, #25535d, #347581, #449aa6);
    font: 15px/40px Georgia, serif;
    color: #00CED1
}
#conteudo h1 {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
#conteudo{
    text-shadow: 1px 2px 4px #615f61;
    font:italic bold 12px/30px Georgia, serif;
}
.artigo{
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}
input[type=text]{
    width: 400px;
    height: 25px;
}
input[type=email]{
    width:400px;
    height: 25px; 
}
textarea{
    width: 100%;
    height: 100px;
}
.formContato{
    margin-top: 35px;
    margin-bottom: 50px;
}
#rodape footer {
    float: none;
    text-align: center;
}
